*{
    font-family: "Poppins", serif;
}

body {
    margin: 0;
    padding: 0;
}

.row{
    width: 100%;
    padding: 0;
    margin: 0;
}


.button_1 {
    background-color: #04A57F;
    color: #fff;
    padding: 1rem 4rem;
    border: 2px solid #fff;
    border-radius: 50px;
}


/* css for header part  */

.header {
    background-color: #ffffff00;
    width: 100%;
    height: max-content;
    position: fixed;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    /* box-shadow: 0px 11px 20px 6px #00000063; */
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s ease;
}


.header_col1 {
    display: flex;
    align-items: center;
    justify-content: start;
}

.header_col1 img {
    width: 50%;
}

.header_col2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_col2 a {
    color: #fff;
    text-decoration: none;
    font-size: 120%;
    transition: 0.5s ease;
}

.header_col2 a:hover {
    color: #04A57F !important;
  }

.header_col3 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_col3{
    color: #fff;
}

.header_col3 a {
    color: #fff;
    font-size: 200%;
}

.mobile_menu {
    width: 100%;
    height: max-content;
    display: none;
    /* background-color: #fff; */
}

.mobile_menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.mobile_menu li {
    list-style-type: none;
}

@media (max-width: 992px) {
    .header_col2 {
        display: none;
    }

    .header_col1 img {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .header_col3 {
        display: none;
    }
}


@media (max-width: 768px) {
    .header_col1 img {
        width: 40%;
    }
}










.hero{
    width: 100%;
    height: max-content;
    background-image: url(../img/hero_bg.jpg);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.hero_content_container{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #00000056;
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 15%;
    padding-bottom: 10%;
}

.hero_content_container h2{
    font-size: 400%;
    font-weight: 600;
    /* width: 50%; */
}

.hero_content_container p{
    /* width: 50%; */
}

@media (max-width: 992px) {
    .hero_content_container{
        padding-left: 10%;
        padding-right: 25%;
        padding-top: 15%;
        padding-bottom: 10%;
    }
}

@media (max-width: 768px) {
    .hero_content_container{
        padding-left: 10%;
        padding-right: 15%;
        padding-top: 20%;
        padding-bottom: 10%;
    }

    .hero_content_container h2{
        font-size: 300%
    }
}
@media (max-width: 576px) {
    .hero_content_container{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25%;
        padding-bottom: 15%;
    }

    .hero_content_container h2{
        font-size: 300%
    }
    
    .hero_content_container p{
        text-align: justify;
    }
}
@media (max-width: 415px) {
    .hero_content_container{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25%;
        padding-bottom: 15%;
    }

    .hero_content_container h2{
        font-size: 200%
    }
}














.card_strip_1{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card_strip_1_col{
    margin-bottom: 30px;
}

.card_1{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    box-shadow: 0px 0px 20px 0px #04a57f4f;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_1 a{
    text-decoration: none;
    color: #04A57F;
}

.card_1 h5{
    font-size: 150%;
    font-weight: 600;
}
















.home_counter{
    width: 100%;
    height: max-content;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-top: 40px; */
    padding-bottom: 40px;
}

.counter_card{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    /* box-shadow: 0px 0px 20px 0px #04a57f4f; */
    /* border-radius: 10px; */
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.counter_card h4{
    transition: all 0.3s ease;
    font-size: 200%;
    font-weight: 700;
}